<template>
    <footer class="mt-40 absolute  overflow-hidden shadow-md bg-gray-100 border-indigo-200 z-10" >
        <div class="max-w-md mx-auto bg-transparent    md:max-w-7xl">
  <div class="md:flex">
      
    <div class="md:flex-shrink-0 ">
        <div class=" w-96 p-8">
            <div class="flex">
                            <span class="text-gray-700 font-bold">Servicios al cliente</span>
            </div>
            <div class="flex">
             <a href="#" class="block mt-1 text-lg leading-tight font-medium text-indigo-500 hover:text-yellow-600 hover:underline">Políticas de envíos</a>
            </div>
             <div class="flex">
             <a href="#" class="block mt-1 text-lg leading-tight font-medium text-indigo-500 hover:text-yellow-600 hover:underline">Políticas de privacidad</a>
            </div>
             <div class="flex">
             <a href="#" class="block mt-1 text-lg leading-tight font-medium text-indigo-500 hover:text-yellow-600 hover:underline">Términos y condiciones</a>
            </div>
        </div>
    </div>
    <div class="p-8 ">
         <div class="flex">
                            <span class="text-gray-700 font-bold">Seguinos en las redes sociales</span>
            </div>

      <a href="#" class="block mt-1 text-lg leading-tight font-medium text-indigo-500 hover:underline">Instagram</a>
    <a href="#" class="block mt-1 text-lg leading-tight font-medium text-indigo-500 hover:underline">Facebook</a>
        <a :target="'_blanck'" :href="'https://wa.me/543512560643?text=Hola,%20tengo%20una%20consulta%20sobre%20Tienda%20Vita'" class="block mt-1 text-lg leading-tight font-medium text-indigo-500 hover:underline">Whatsapp</a>
<a :target="'_blanck'" class="block mt-1 text-lg leading-tight font-medium text-indigo-500 hover:underline" :href="'mailto:info@tiendavita.com.ar?subject=Deseo%20Recibir%20más%20información&body=Quiero%20recibir%20mas%20información%20de%20los%20productos%20Vita'">info@tiendavita.com.ar</a>
    </div>
     <div class="md:flex-shrink-3 ">
        <div class=" w-56 p-8">
        <a target="_blank" href="http://liderit.com.ar"><img  :src="'http://electricbike.com.ar/assets/img/liderIt.png'" alt="LiderIt" ></a>
        </div>
    </div>
  </div>
</div>
        
    </footer>
</template>

<script>
export default {
name:"Footer"
}
</script>

