<template>
  <nav
    class="flex fixed top-0 w-full items-center justify-between px-6 h-20 bg-white text-gray-700 border-b border-gray-200 z-10">
    <div class="flex items-center">
      <button class="mr-2 color-white " aria-label="Open Menu" @click="drawer">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          viewBox="0 0 24 24" class="w-8 h-8 text-yellow-700">
          <path d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
              <router-link :to="{ name: 'Home' }" >
      <img :src="'http://www.tiendavita.com.ar/img/vita/logo.jpg'" alt="Vita" class="lg:h-auto md:auto  lg:w-24 h-10 w-auto text-yellow-700" />
</router-link>
    </div>
    <div class="flex items-center  text-yellow-700  ">
      <div class="  flex justify-between bg-transparent">
        <a @click.prevent="isOpen = false" href="#" id="goUsuarios" class="flex items-center lg:p-2 hover:text-yellow-600">
        <svg class="lg:w-9 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16l2.879-2.879m0 0a3 3 0 104.243-4.242 3 3 0 00-4.243 4.242zM21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
        </a>
     
      <router-link :to="{ name: 'Cart' }"    class="flex items-center p-2 hover:text-yellow-600 ">
        <em><small>{{items}}</small> </em>
        <svg
            class="lg:w-8 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
          </svg><small class=""><strong>$ {{total}}</strong></small>
          
      </router-link>

          <router-link :to="{ name: 'Home' }"  class="flex items-center lg:p-2 font-bold hover:text-yellow-600 " >
        <svg   class="lg:w-8 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
      </svg>
            </router-link>
       
      </div>
    </div>

    <transition enter-class="opacity-0" enter-active-class="ease-out transition-medium" enter-to-class="opacity-100"
      leave-class="opacity-100" leave-active-class="ease-out transition-medium" leave-to-class="opacity-0">
      <div @keydown.esc="isOpen = false" v-show="isOpen" class="z-10 fixed inset-0 transition-opacity">
        <div @click="isOpen = false" class="absolute inset-0 bg-black opacity-50" tabindex="0"></div>
      </div>
    </transition>
    <aside
      class="transform top-0 left-0   w-56 bg-white fixed h-full overflow-auto ease-in-out transition-all duration-300 z-30"
      :class="isOpen ? 'translate-x-0' : '-translate-x-full'">
      <span @click="isOpen = false" class="flex w-full items-center p-4 border-b bg-enfocate h-40">
        <router-link :to="{ name: 'Home' }" class="flex justify-center">
                <img :src="'http://www.vitanutricion.com.ar/img/vita/logo.jpg'" alt="Vita" class="h-auto w-24 text-yellow-700" />
        </router-link>
      </span>
       <router-link :to="{ name: 'Home' }" >
                  <a href="javascript:;" id="goUsuarios" @click.native="isOpen = false"  class="flex items-center p-4 hover:bg-yellow-600 hover:text-white ">
         <svg   class="lg:w-8 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
      </svg>
      Inicio
        </a>
            </router-link>
          <router-link :to="{ name: 'Cart' }"  @click.native="isOpen = false"  class="flex items-center p-4 hover:bg-yellow-600 hover:text-white ">
        <svg
            class="lg:w-8 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
          </svg> <small  >Mi Carrito <br> <strong>${{total}}</strong></small>
          
      </router-link>
    <router-link :to="{ name: 'Home' }" :class="[isOpen ? 'bg-yellow-600' : '']"   @click.native="isOpen = false">
                  <a href="#" id="goUsuarios"  class="flex items-center p-4 hover:bg-yellow-600 hover:text-white ">
                <svg class="lg:w-9 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 16l2.879-2.879m0 0a3 3 0 104.243-4.242 3 3 0 00-4.243 4.242zM21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
      </svg>
      Buscar
        </a>
            </router-link>
    
      <div class="fixed bottom-0 w-full bg-enfocate">

        <div class="">
      
        </div>
      </div>
    </aside>
  </nav>
  

</template>

<script>
  export default {
    components: {
      
    },
    name: 'Header',
    props: {
      items: String,
      total: String,
    },
    data() {
      return {
        isOpen: false
      }
    },
    beforeMount() {
      window.addEventListener('scroll', this.handleScroll);
    },
    methods: {
      handleScroll: function () {

      },

      drawer() {
        this.isOpen = !this.isOpen;
      }

    },
    watch: {
      isOpen: {
        immediate: true,
        handler(isOpen) {
          if (process.client) {
            if (isOpen) document.body.style.setProperty("overflow", "hidden");
            else document.body.style.removeProperty("overflow");
          }
        }
      }
    },
    mounted() {
      document.addEventListener("keydown", e => {
        if (e.keyCode == 27 && this.isOpen) this.isOpen = false;
      });
    },
  }
</script>