/* ./resources/css/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-enfocate{
    background: #910000;
}
.text-enfocate{
    color: #910000 !important;
}
.bg-enfocate-orange{
    background-color: #E7743C;
}