<template>
 <div class="flex justify-center">
 <div class="w-2/3 mx-aut mt-20  relative overflow-auto z-0">
  <div class="bg-white shadow-md rounded my-6">
    <table class="text-left w-full border-collapse"> <!--Border collapse doesn't work on this site yet but it's available in newer tailwind versions -->
      <thead>
        <div v-if="ebooks">
        <tr >
          <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Nombre</th>
          <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Tipo</th>
          <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Fecha de creación</th>
          <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">---</th>
        </tr>
        
       
        </div>
         <div v-else>
            <h5 class="text-gray-600 font-semibold ">
                No hay registros
            </h5>
        </div>
      </thead>
      <tbody>
        <div v-if="ebooks">
            <tr v-for="ebook in ebooks" :key="ebook"  class="hover:bg-grey-lighter">

          <td class="py-4 px-6 border-b border-grey-light">{{ebook.name}}</td>
          <td class="py-4 px-6 border-b border-grey-light">{{ebook.type}}</td>
          <td class="py-4 px-6 border-b border-grey-light">{{ebook.created_at}}</td>

          <td class="py-4 px-6 border-b border-grey-light">
          </td>
        </tr>
        </div>
       
      </tbody>
    </table>
  </div>
</div>
 </div>
</template>

<script>
    export default {
         beforeCreate () {
             var url = window.location.href
             var arr = url.split("/");
             var result = arr[0] + "//" + arr[2]+'/'+arr[3]+"/public/api";
            let endPoint=result+'/'+'ebooks';
        axios
      .get(endPoint)
      .then(response => {
       
        this.ebooks = response.data
      })
      .catch(error => {
        console.log(error)
      })
      .finally(() => this.loading = false)
  },
       data() {
    return {
      ebooks: {},
      isOpen: false
    };
  }
 
    }
</script>
