<template>
 <div class="flex justify-center">
 <div class="w-2/3 mx-aut mt-20  relative overflow-auto z-0">
  <div class="bg-white shadow-md rounded my-6">
    <table class="text-left w-full border-collapse"> <!--Border collapse doesn't work on this site yet but it's available in newer tailwind versions -->
      <thead>
        <div v-if="conversations">
        <tr >
          <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Nombre</th>
          <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">---</th>
           <th class=" bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">---</th>

        </tr>
        </div>
      </thead>
      <tbody>
        <div v-if="conversations">
            <tr v-for="conversation in conversations" :key="conversation.id"  class="hover:bg-grey-lighter">

          <td class="py-4 px-6 border-b border-grey-light">{{conversation.conversation.participants[1].messageable.name}}</td>
          <td class="py-4 px-6 border-b border-grey-light">{{conversation.conversation.participants[1].messageable.email}}</td>

          <td class=" border-b border-grey-light">
              <a href="" class=" text-gray-700">
                 <div class=" w-5">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 10h.01M12 10h.01M16 10h.01M9 16H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-5l-5 5v-5z" />
                    </svg>
                 </div>
              </a>
          </td>
        </tr>
        </div>
       
      </tbody>
    </table>
  </div>
    </div>

</div>
</template>

<script>
    export default {
         created () {
             var url = window.location.href
             var arr = url.split("/");
             var result = arr[0] + "//" + arr[2]+'/'+arr[3]+"/public/api";
            let endPoint=result+'/'+'conversations?user='+this.userId;
        axios
      .get(endPoint)
      .then(response => {
        let products=response.data.data

        this.conversations = products
      })
      .catch(error => {
        console.log(error)
      })
      .finally(() => this.loading = false)
  },
  props:{
      userIdProp:String,
  },
       data() {
    return {
      userId:sessionStorage.getItem('user'),
      conversations: [],
      isOpen: false
    };
  }
 
    }
</script>
