<template>
 <div class="flex justify-center">
 <div class="w-2/3 mx-aut mt-20  relative overflow-auto z-0">
  <div class="bg-white shadow-md rounded my-6">
    <table class="text-left w-full border-collapse"> <!--Border collapse doesn't work on this site yet but it's available in newer tailwind versions -->
      <thead>
        <div v-if="users">
        <tr >
          <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">FOTO</th>
          <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Nombre</th>
          <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Fecha de compra</th>
          <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Fecha de expiración</th>
          <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">---</th>
        </tr>
        </div>
      </thead>
      <tbody>
        <div v-if="users">
            <tr v-for="user in users" :key="user.id"  class="hover:bg-grey-lighter">
          <td class="py-4 px-6 border-b border-grey-light">
            <img class="h-max-30 w-30" loading="lazy" v-bind:src="'/storage/'+user.avatar_path" v-bind:alt="user.name">
          </td>
          <td class="py-4 px-6 border-b border-grey-light">{{user.name}}</td>
          <td class="py-4 px-6 border-b border-grey-light">{{user.suscription.date_at}}</td>
          <td class="py-4 px-6 border-b border-grey-light">{{user.suscription.date_end}}</td>

          <td class="py-4 px-6 border-b border-grey-light">
          </td>
        </tr>
        </div>
       
      </tbody>
    </table>
  </div>
</div>
 </div>
</template>

<script>
    export default {
         beforeCreate () {
             var url = window.location.href
             var arr = url.split("/");
             var result = arr[0] + "//" + arr[2]+'/'+arr[3]+"/public/api";
            let endPoint=result+'/'+'users';
        axios
      .get(endPoint)
      .then(response => {
        let products=response.data
       
        this.users = products
      })
      .catch(error => {
        console.log(error)
      })
      .finally(() => this.loading = false)
  },
       data() {
    return {
      users: [],
      isOpen: false
    };
  }
 
    }
</script>
