<template>
   <div>
        <div class=" mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-7xl mt-20">
        <div class="md:flex">
            <div class="flex-1 flex-shrink md:flex-shrink-0 justify-center">
                <span class=" mt-4 mb-8 text-2xl text-gray-600 relative left-0 mx-auto">
                    Información de contacto.
                </span>

                <form class="mt-10" method="POST">
                    <!-- Email Input -->
                    <div class="flex -mx-3">
                        <div class="w-full px-3 mb-12">
                            <label for="email" class="text-md font-semibold px-1">Email</label>
                            <div class="flex">
                                <div
                                    class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                    <i class="mdi mdi-lock-outline text-gray-400 text-lg"></i></div>
                                <input type="email" name="email" id="email" autocomplete="email" class="w-full 
                                -ml-10 pl-10
                                 pr-3 
                                 py-2 
                                 rounded-lg border-2 
                                 border-gray-200 
                                 outline-none focus:border-yellow-600" placeholder="Email" required>
                            </div>
                        </div>
                    </div>

                    <span class="clear  mb-8 text-2xl text-gray-600 relative left-0 mx-auto">
                        Dirección de envío.
                    </span>

                    <div class="flex -mx-3">
                        <div class="w-1/2 px-3 mb-5">
                            <label for="" class="text-md font-semibold px-1">Nombre</label>
                            <div class="flex">
                                <div
                                    class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                    <i class="mdi mdi-account-outline text-gray-400 text-lg"></i></div>
                                <input type="text"
                                    name="firstname"
                                    id="firstname"
                                    autocomplete="firstname"
                                    class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-yellow-600"
                                    placeholder="Nombre">
                            </div>
                        </div>
                        <div class="w-1/2 px-3 mb-5">
                            <label for="" class="text-md font-semibold px-1">Apellido</label>
                            <div class="flex">
                                <div
                                    class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                    <i class="mdi mdi-account-outline text-gray-400 text-lg"></i></div>
                                <input type="text"
                                    name="lastname"
                                    id="lastname"
                                    autocomplete="lastname"
                                    class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-yellow-600"
                                    placeholder="Apellido">
                            </div>
                        </div>
                    </div>

                    <div class="flex -mx-3">
                        <div class="w-full px-3 mb-12">
                            <label for="email" class="text-md font-semibold px-1">Dni</label>
                            <div class="flex">
                                <div
                                    class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                    <i class="mdi mdi-lock-outline text-gray-400 text-lg"></i></div>
                                <input type="number" 
                                name="dni" 
                                id="dni"
                                placeholder="dni"
                                autocomplete="dni" class="w-full 
                                -ml-10 pl-10
                                 pr-3 
                                 py-2
                                 rounded-lg border-2 
                                 border-gray-200 
                                 outline-none focus:border-yellow-600"  required>
                            </div>
                        </div>
                    </div>

                  <div class="flex -mx-3">
                        <div class="w-full px-3 mb-12">
                            <label for="email" class="text-md font-semibold px-1">Dirección</label>
                            <div class="flex">
                                <div
                                    class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                    <i class="mdi mdi-lock-outline text-gray-400 text-lg"></i></div>
                                <input type="text" 
                                name="addresse" 
                                id="addresse" 
                                placeholder="Dirección"
                                autocomplete="addresse" class="w-full 
                                -ml-10 pl-10
                                 pr-3 
                                 py-2 
                                 rounded-lg border-2 
                                 border-gray-200 
                                 outline-none focus:border-yellow-600"  required>
                            </div>
                        </div>
                    </div>
                    <!--Código postal -->
                    <div class="flex -mx-3">
                        <div class="w-1/2 px-3 mb-5">
                            <label for="" class="text-md font-semibold px-1">Código postal</label>
                            <div class="flex">
                                <div
                                    class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                    <i class="mdi mdi-account-outline text-gray-400 text-lg"></i></div>
                                <input type="text"
                                    name="codePostal"
                                    id="codePostal"
                                    autocomplete="codePostal"
                                    class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-yellow-600"
                                    placeholder="Código postal">
                            </div>
                        </div>
                        <div class="w-1/2 px-3 mb-5">
                            <label for="" class="text-md font-semibold px-1">Ciudad</label>
                            <div class="flex">
                                <div
                                    class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                    <i class="mdi mdi-account-outline text-gray-400 text-lg"></i></div>
                                <input type="text"
                                    name="city"
                                    id="city"
                                    autocomplete="city"
                                    class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-yellow-600"
                                    placeholder="Ciudad">
                            </div>
                        </div>
                    </div>

                    <!-- Fin-->

                     <!--Pais - provincia -->
                    <div class="flex -mx-3">
                        <div class="w-1/2 px-3 mb-5">
                            <label for="" class="text-md font-semibold px-1">Provincia</label>
                            <div class="flex">
                                <div
                                    class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                    <i class="mdi mdi-account-outline text-gray-400 text-lg"></i></div>
                              <select 
                                    name="province"
                                    id="province"
                                    autocomplete="province"
                                    class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-yellow-600"                              
                              >
                            <option value="1">BUENOS AIRES</option>
                            <option value="2">CATAMARCA</option>
                            <option value="5">CHACO</option>
                            <option value="6">CHUBUT</option>
                            <option value="50">CIUDAD AUTONOMA DE Bs As</option>
                            <option value="3">CORDOBA</option>
                            <option value="4">CORRIENTES</option>
                            <option value="7">ENTRE RIOS</option>
                            <option value="8">FORMOSA</option>
                            <option value="9">JUJUY</option>
                            <option value="10">LA PAMPA</option>
                            <option value="11">LA RIOJA</option>
                            <option value="12">MENDOZA</option>
                            <option value="13">MISIONES</option>
                            <option value="14">NEUQUEN</option>
                            <option value="15">RIO NEGRO</option>
                            <option value="16">SALTA</option>
                            <option value="17">SAN LUIS</option>
                            <option value="19">SANTA CRUZ</option>
                            <option value="20">SANTA FE</option>
                            <option value="21">SANTIAGO DEL ESTERO</option>
                            <option value="22">TIERRA DEL FUEGO</option>
                            <option disabled="true" selected="true" value="">Seleccionar una Provincia</option>
                        </select>

                            </div>
                        </div>
                        <div class="w-1/2 px-3 mb-5">
                            <label for="" class="text-md font-semibold px-1">Telefono</label>
                            <div class="flex">
                                <div
                                    class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                    <i class="mdi mdi-account-outline text-gray-400 text-lg"></i></div>
                               <input type="text" 
                                name="phone" 
                                id="phone" 
                                placeholder="Telefono"
                                autocomplete="phone" class="w-full 
                                -ml-10 pl-10
                                 pr-3 
                                 py-2 
                                 rounded-lg border-2 
                                 border-gray-200 
                                 outline-none focus:border-yellow-600"  required>
                             
                            </div>
                        </div>
                    </div>

                    <!-- Fin-->
                
      <!--Pais - provincia -->
                   

                    <!-- Fin-->
                    <!-- Auth Buttton -->
                   
                </form>
            </div>

            <div class="p-8 md:w-1/2 ">
              <div class=" flex mt-4  ">
                    <button @click="tableCart=!tableCart"
                        class=" w-full text-gray-700 font-semibold py-2  rounded inline-flex items-center">
                        <svg class="lg:w-8 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                        </svg>
                        <span class="mr-1">Resumen de pedido</span>
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                        </svg>
                    </button>
                </div>
                <div :class="{'hidden':!tableCart}" class="flex justify-center flex-col">
                <div class="overflow-auto h-64 ...">
                      <table class="text-left w-full border-collapse"> <!--Border collapse doesn't work on this site yet but it's available in newer tailwind versions -->
                    <thead>
                        <tr>
                        <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Artículo</th>
                        <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Precio</th>
                        <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Cantidad</th>
                        <th class="py-4 px-6 bg-grey-lightest font-bold uppercase text-sm text-grey-dark border-b border-grey-light">Total</th>
                        </tr>
                    </thead>
                    <tbody v-if="productLists != null">
                        <tr v-for="product in productLists" :key="product.productId" class="hover:bg-grey-lighter">

                        <td class="py-4 px-6 border-b border-grey-light">
                            <img class=" h-10 w-10" :src="'https://negotis.somee.com/api/ApiArchivo/GetArchivo?idClienteNegotis=83b0bed5-b4d4-4e59-a74b-0be6b177fb3a&idArticulo='+product.productId+'&token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9zaWQiOiI4M2IwYmVkNS1iNGQ0LTRlNTktYTc0Yi0wYmU2YjE3N2ZiM2EiLCJuYmYiOjE2MDkxNTk4MTQsImV4cCI6MTYwOTE2MzQxNCwiaWF0IjoxNjA5MTU5ODE0fQ.Y71C4faUJT_i6nYEi_kEK9hmXrjQoCqgIZplkTlXMOY'" alt="">
                            {{product.productName}}
                        </td>
                        <td class="py-4 px-6 border-b border-grey-light">
                        {{product.productPrice}}
                        </td>
                        <td class="py-4 px-6 border-b border-grey-light">
                         {{product.qty}}
                        </td>
                        <td class="py-4 px-6 border-b border-grey-light">
                            {{product.productPrice * product.qty}}
                        </td>
                        </tr>

                    </tbody>
                    <div v-else>
                           <span class=" ">No hay productos</span>
                    </div>
                    </table>
                </div>

                </div>

                <div class="flex flex-col rounded-xl  overflow-hidden   md:flex-shrink-0 mt-10 ">
                   <div class="flex justify-around">
                         <span class="mt-2 text-gray-500">Subtotal</span>
                     <span class="mt-2 text-gray-500">$ {{cart.total}}</span>
                   </div>
                   <div class="flex  justify-around">
                         <span class="mt-2 text-gray-400">Envío</span>
                     <span class="mt-2 text-gray-400"><small>Se calcula a continuación</small></span>
                   </div>
                </div>
                <div class="flex  flex-col rounded-xl  overflow-hidden  md:flex-shrink-0 mt-10">
                                    <hr class="border">

                   <div class="flex justify-around">
                         <span class="mt-2 text-gray-500">TOTAL</span>
                     <span class="mt-2 text-2xl text-gray-800 font-bold">$ {{cart.total}}</span>
                   </div>
                   <div class="flex justify-around">
                         <span class="mt-2 text-gray-400"><small>Incluye impuestos</small></span>
                   </div>
                </div>
              

            </div>

        </div>
        
    </div>
     <div class="flex mx-3">
                        <div class="w-1/2  mx-auto px-3 mb-5">
                         <router-link :to="{ name: 'Cart' }" >
                              <button  class="w-full py-3 mt-10  text-gray-600 rounded-xl
                        font-medium border border-gray-600 uppercase
                        focus:outline-none hover:text-gray-700 hover:bg-yellow-200   hover:shadow-none">
                            Volver a carrito
                        </button>
                         </router-link>
                        </div>
                        <div class="mx-auto w-1/2 px-3 mb-5">
                            <router-link :to="{ name: 'Pay' }" >
                                 <button type="button" class="rounded-xl w-full py-3 mt-10 bg-yellow-700
                            font-medium text-white uppercase
                            focus:outline-none hover:bg-yellow-600 hover:shadow-none">
                                Seleccionar medio de pago
                            </button>
                            </router-link>
                        </div>
    </div>
   </div>
</template>

<script>
    export default {
        components: {
        },
        name: 'Buy',
        props: {
            cart: Object,
            total: Number
        },
        data() {
            return {
                tableCart:false,
                productLists: Array,
                quantity: 0,
                productName: sessionStorage.getItem('productName'),
                productPrice: sessionStorage.getItem('productPrice'),
                productMark: sessionStorage.getItem('productMark'),
                productImg: sessionStorage.getItem('productImg')
            }
        },
        beforeMount() {
              let listProducts=localStorage.getItem('cart');
              
              this.productLists=JSON.parse(listProducts);
            window.addEventListener('scroll', this.handleScroll);
        },
        methods: {
            addQuantity() {
                this.quantity++;
                let totalItems = parseInt(localStorage.getItem('totalItems'));
                localStorage.setItem('totalItems', totalItems + 1)
                this.$emit('OnUpdateCartApp', totalItems + 1)
            },
            subQuantity() {
                if (this.quantity > 0) {
                    this.quantity--;
                    let totalItems = parseInt(localStorage.getItem('totalItems'));
                    localStorage.setItem('totalItems', totalItems - 1)
                    this.$emit('OnUpdateCartApp', totalItems - 1)
                }
            },

        },
        watch: {
            isOpen: {
                immediate: true,
                handler(isOpen) {
                    if (process.client) {
                        if (isOpen) document.body.style.setProperty("overflow", "hidden");
                        else document.body.style.removeProperty("overflow");
                    }
                }
            }
        },
        mounted() {
            document.addEventListener("keydown", e => {
                if (e.keyCode == 27 && this.isOpen) this.isOpen = false;
            });
        },
    }
</script>