#top {
    color:black; 
    font-family: elsie; 
    background-color:#316ceb;
}
.bg-primary{
    background-color: #7f23e9;

}
.bg-secondary{
    background-color: #fa5c5c;

}
.bg-3{
    background-color: #eeba5b;

}
#fondo{ 
    background-color: #FFFFFF;
}

#encabezados{
    color:rgb(255, 255, 255); 
    font-family: elsie;
    text-align: center;
}
#collapse:hover {
    background-color:#2950a3;
}

